# Environment variables.
.env
**/__pycache__/

# Dataset folders.
*/processed/
/librispeech_tmp/
*/librispeech/
*/speech-accent-archive/

# Checkpoint folders.
/checkpoints/

# Model memory profiler outputs.
/mem_profiles/
memory_profile*.txt
memory_profile*.png

# Chart model losses.
chart_losses.json
chart_losses.png