# Environment variables.
.env
**/__pycache__/

# Dataset folders.
*/processed/
/librispeech_tmp/
*/librispeech/
*/speech-accent-archive/

# Checkpoint folders.
# /checkpoints/

# Chart model losses.
chart_losses.json
chart_losses.png